/* File: packages/config/tailwind/globals.css */
@import 'tailwindcss';

/* 🚨 모든 앱에서 공통으로 사용할 패키지들 스캔 */
@source "../../ui/**/*.{ts,tsx,js,jsx}";
@source "../../**/*.{ts,tsx,js,jsx}";

@theme {
  --shadow-card: 0px 1px 8px 0px rgba(0, 0, 0, 0.03),
    0px 5px 15px 0px rgba(0, 0, 0, 0.03);

  --color-common-100: #ffffff;

  --color-primary-normal: #00fcb4;
  --color-primary-sub-1: #008660;
  --color-primary-sub-2: #7d5ef7;

  --color-label-normal: #171717;
  --color-label-strong: #000000;
  --color-label-neutral: #46474c;
  --color-label-alternative: #878a93;
  --color-label-assistive: #c2c4c8;
  --color-label-disable: #dbdcdf;
  --color-label-inverse: #ffffff;

  --color-background-normal: #ffffff;
  --color-background-alternative: #f7f7f8;

  --color-interaction-inactive: #989ba2;
  --color-interaction-disable: #f7f7f8;

  --color-line-normal: #e1e2e4;
  --color-line-neutral: #eaebec;
  --color-line-strong: #171717;
  --color-line-alternative: #f4f4f5;

  --color-status-success: #00bf40;
  --color-status-error: #ff4242;
  --color-status-informative: #00aeff;

  --color-accent-red-orange: #ff5e00;
  --color-accent-cyan: #00bdde;
  --color-accent-light-blue: #00aeff;
  --color-accent-violet: #6541f2;
  --color-accent-purple: #cb59ff;
  --color-accent-pink: #f553da;

  --color-component-fill-normal: #f4f4f5;
  --color-component-fill-strong: #eaebec;
  --color-component-fill-alternative: #f7f7f8;
  --color-component-fill-neutral: #878a93;

  --text-display-1: 3.5rem;
  --text-display-1--line-height: 1.286;
  --text-display-1--letter-spacing: -0.11163rem;
  --text-display-2: 2.5rem;
  --text-display-2--line-height: 1.3;
  --text-display-1--letter-spacing: -0.0705rem;

  --text-title-1: 2.25rem;
  --text-title-1--line-height: 1.334;
  --text-title-1--letter-spacing: -0.06075rem;
  --text-title-2: 1.75rem;
  --text-title-2--line-height: 1.358;
  --text-title-2--letter-spacing: -0.04131rem;
  --text-title-3: 1.5rem;
  --text-title-3--line-height: 1.334;
  --text-title-3--letter-spacing: -0.0345rem;

  --text-heading-1: 1.375rem;
  --text-heading-1--line-height: 1.364;
  --text-heading-1--letter-spacing: -0.02669rem;

  --text-headline-1: 1.125rem;
  --text-headline-1--line-height: 1.445;
  --text-headline-1--letter-spacing: -0.00025rem;

  --text-body-1-normal: 1rem;
  --text-body-1-normal--line-height: 1.5;
  --text-body-1-normal--letter-spacing: 0.00569rem;

  --text-body-1-reading: 1rem;
  --text-body-1-reading--line-height: 1.625;
  --text-body-1-reading--letter-spacing: 0.00569rem;

  --text-body-2-normal: 0.9375rem;
  --text-body-2-normal--line-height: 1.467;
  --text-body-2-normal--letter-spacing: 0.009rem;
  --text-body-2-reading: 0.9375rem;
  --text-body-2-reading--line-height: 1.6;
  --text-body-2-reading--letter-spacing: 0.009rem;

  --text-label-1-normal: 0.875rem;
  --text-label-1-normal--line-height: 1.429;
  --text-label-1-normal--letter-spacing: 0.01269rem;
  --text-label-1-reading: 0.875rem;
  --text-label-1-reading--line-height: 1.571;
  --text-label-1-reading--letter-spacing: 0.01269rem;

  --text-caption-1: 0.75rem;
  --text-caption-1--line-height: 1.334;
  --text-caption-1--letter-spacing: 0.01888rem;
  --text-caption-2: 0.6875rem;
  --text-caption-2--line-height: 1.273;
  --text-caption-2--letter-spacing: 0.02138rem;

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;

  --breakpoint-xs: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* 기본 폰트 패밀리 설정 */
  --font-family-sans: var(--font-pretendard, 'Pretendard Variable', 'Pretendard'),
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* 글로벌 폰트 적용 */
* {
  font-family: var(--font-family-sans);
}

/* 🚨 커스텀 유틸리티 */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
